
@{
    ViewBag.Title = "CreateUser";
    // Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    Layout = "~/Views/Shared/_LayoutDashboardinnerpage.cshtml";
}

<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">
            <h4 class="title">Create User</h4>
            <!-- Mega Form Starts -->
            <section class="section-padding contact-us-padding form-padding">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-10">
                            @using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post, new { id = "signup" }))
                            {
                                <form action="#" method="post">

                                    @if (TempData["ErrMsg"] != "")
                                    {
                 <div id="Msgs" class="alert alert-danger">
                           @TempData["ErrMsg"]
                                        </div>
                                    }
                                    @if (TempData["SucMsg"] != "")
                                    {
                                        <div id="Msgs" class="alert alert-success">
                                            @TempData["SucMsg"]
                                        </div>
                                    }

                                    <div class="row list-input">
                                        <div class="col-md-12 col-lg-12 formHeaderBg">
                                            <h3 class="formHeader">Create user</h3>
                                        </div>





                                        <div class="col-md-6 mr0">
                                            <div class="single-get-touch">
                                                <input type="text" name="fname" placeholder="First Name" required>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="single-get-touch">
                                                <input type="text" name="lname" placeholder="Last Name" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mr0">
                                            <div class="single-get-touch">
                                                <input type="email" name="email" placeholder="Email" required>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="single-get-touch">
                                                <input type="text" name="phone" placeholder="Phone" required>
                                            </div>
                                        </div>

                                        <div class="col-md-6 mr0">
                                            <div class="single-get-touch">
                                                <input type="password" name="password" placeholder="Password *" required>
                                            </div>
                                        </div>

                                        <div class="col-md-6 right">
                                            <div class="single-get-touch">
                                                <input type="password" name="cpassword" placeholder="Confrim Password *" required>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="single-get-touch">
                                                <a href="#"> <button type="submit" name="submit" class="btn btn-default btn-sm2 btnAction">Create User</button></a>

                                            </div>
                                        </div>



                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>

                <div class="tables">
                    <h2 class="title1">All Users</h2>
                    <div class="table-responsive bs-example widget-shadow">
                        @*<h4>Users:</h4>*@
                        @{int i = 0;}
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Date</th>
                                    <th>Edit User</th>
                                </tr>
                            </thead>
                            <tbody>
                            @if (ViewBag.Data == null)
                                {
                                <h2>No Record Found</h2>
                                 }
                                 else
                                 {
                                 foreach (var user in ViewBag.Data)
                                 {
                            <tr>
                           

                                <td scope="row">@(++i)</td>
                                <td>@user.Firstname</td>
                                <td>@user.Lastname</td>
                                <td>@user.PhoneNumber</td>
                                <td>@user.EmailAddress</td>
                                <td>@user.ValueDate</td>

                                <td id="services">
                                    @*<a onclick="return confirm('Are You Sure?')" href="@Url.Action("EditUser", "Admin", new { id = @user.ID })">Edit User</a>*@
                                    <a id="services">Edit User</a>
                                    
                                </td>
                            </tr>
                            }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <!-- // Mega Form Ends-->

        </div>

    </div>
</div>
<script>
$(function(){

     $("#services").click(function () {
         alert('enter');
         var t = $(this).val();
         var m = 3;
            var userid = this.getAttribute("userid");
            $.ajax({
            type:"POST",
            url:"@Url.Action("EditUser", "Admin")?id=" + m,
            dataType:"json",
            data:JSON.stringify(userid),
            success:function(data){
                    console.log(data);
                },
            error:function(data) {
                alert('error');
                console.log(data);
            }


            });
          
        

        })
        
</script>
