
@{
    ViewBag.Title = "Debit Instruction";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<html>
<body>
    <div class="charts">
        <div class="mid-content-top charts-grids">
            <div class="middle-content">
                @*<h4 class="title">AllApprovedLoans</h4>*@
                <!-- Mega Form Starts -->

                <section class="section-padding contact-us-padding form-padding">

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-12 col-lg-10">
                                @using (Html.BeginForm("DebitInstruction", "Admin", FormMethod.Post, new { id = "signup" }))
                                {
                                    <form action="#" method="post">

                                        @if (TempData["ErrMsg"] != "")
                                        {
                                            <div id="Msgs" class="alert alert-danger">
                                                @TempData["ErrMsg"]
                                            </div>
                                        }
                                        @if (TempData["SucMsg"] != "")
                                        {
                                            <div id="Msgs" class="alert alert-success">
                                          <span>@TempData["SucMsg"] : <p>Kindly Copy Below Information.</p></span>
                                                <span>Request ID : @TempData["requestID"]</span>
                                                <span>Mandate ID : @TempData["mandateId"]</span>
                                                <span>Message : @TempData["SucMsg"]</span>
</div>
                                        }
                                        
                                        <div class="tables">
                                            <h2 class="title1">Debit Instruction</h2>
                                            <div class="row list-input">


                                                <div class="col-md-12 mr0">
                                                    <div class="single-get-touch">
                                                        <select id="Titles" name="fundingBankCode" data-live-search="true" required="required">
                                                            <option value="" default selected data-tokens="Select Bank">SELECT BANK</option>
                                                            @foreach (var nBank in ViewBag.BankList)
                                                            {
                                                                <option id="Title" value="@nBank.Code" data-tokens="@nBank.Name">@nBank.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>



                                               
                                                <div class="col-sm-6">
                                                    <div class="single-get-touch">
                                                        <label class="control-label">Mandate ID<span class="color-red">*</span></label>
                                                        <input type="text" class="form-control" name="MandateID" onkeypress = "return isNumber(event);" ondrop = "return isNumber(event);" onpaste = "return isNumber(event);" value="" >
                                                    </div>
                                                </div>



                                                <div class="col-sm-6">
                                                    <div class="single-get-touch">
                                                        <label class="control-label">Funding Account<span class="color-red">*</span></label>
                                                        <input type="text" class="form-control" name="fundingAccount" required="required" onkeypress = "return isNumber(event);" ondrop = "return isNumber(event);" onpaste = "return isNumber(event);" value="">
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="single-get-touch">
                                                        <label class="control-label">Total Amount<span class="color-red">*</span></label>
                                                        <input type="text" class="form-control" name="totalAmount" onkeypress = "return isNumber(event);" ondrop = "return isNumber(event);" onpaste = "return isNumber(event);" required="required" value="">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="single-get-touch">
                                                        @if (TempData["Msg"] != null)
                                                        {
                        <span>Request ID : @TempData["requestID"]</span>
                        <span>Mandate ID : @TempData["mandateId"]</span>
                        <span>Message : @TempData["Msg"]</span>
                                                        }
                                                        </div>
                                                    </div>
                                                        <br>
                                                        <div class="col-md-12">
                                                            <div class="single-get-touch">

                                                                <a href="#"><button type="submit" name="submit" class="btn btn-default btn-sm2 btnAction">Submit</button></a>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                                <td></td>
</form>
                                }
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>

</body>

</html>



