@{
    ViewBag.Title = "Acknowledgement";
    // Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    Layout = "~/Views/Shared/_LayoutDashboardinnerpage.cshtml";
}
@model UvlotApplication.Classes.TableObjects.LoanApplication
@*This is For Date Time On this Page*@
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<script>
    $(function () {
       
        $("#StartDate").datepicker();
  
   
});
//$(function () {
//    $("#EndDate").datepicker();
//});

</script>

<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">
            @*<h4 class="title1">Pay Off</h4>*@
            <!-- Mega Form Starts -->

            <section class="section-padding contact-us-padding form-padding">

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-10">
                            @using (Html.BeginForm("Invoice", "Admin", FormMethod.Post, new { id = "signup" }))
                            {
                                <form action="#" method="post">

                                    @if (TempData["ErrMsg"] != null)
                                    {
                                        <div id="Msgs" class="alert alert-danger">
                                            @TempData["ErrMsg"]
                                        </div>
                                    }
                                    @if (TempData["SucMsg"] != null)
                                    {
                                        <div id="Msgs" class="alert alert-success">
                                            @TempData["SucMsg"]
                                        </div>
                                    }
                                    <div class="tables">

                                        <div class="row list-input">
                                        <div class="col-md-6">
                                                <div class="single-get-touch">
             @Html.TextBoxFor(model => model.DateCreated, new { placeholder = "START DATE", id= "StartDate", name="startDate", autocomplete = "off" })
              @*<input type="text" value="" id="StartDate" autocomplete = "off"/>*@
                                                </div>
                                            </div>

                                            @*<div class="col-md-6">
                                                <div class="single-get-touch">
@Html.TextBoxFor(model => model.DateModified, new { placeholder = "END DATE", id = "EndDate", name = "endDate" })
             <input type="text" value="" id="EndDate" autocomplete = "off" />
                                                </div>
                                            </div>*@
                                          
                                            <div class="col-md-6">
                                                <div class="single-get-touch">
                                                    @Html.DropDownListFor(model => model.institutionFk, (SelectList)ViewData["Institution"], "Institution*", new { @id = "Institition", @required = "required", @name = "Institition" })
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="single-get-touch">
                                                    <a href="#"> <button type="submit" name="submit" class="btn btn-default btn-sm2 btnAction">Proceed</button></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            }
                        </div>

                    </div>

                </div>
                <div class="tables">
                    <h2 class="title1">Invoice</h2>
                    <div class="">
                       
                        <div class="table-responsive bs-example widget-shadow">
                                @*<h4>Users:</h4>*@
                                @{int i = 0;}
                                <table id="myTable" class="table table-bordered">

                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Company</th>
                                            <th>Location</th>
                                            <th>Reference Number</th>
                                            <th>Fullname</th>
                                            <th>Disburse Date</th>
                                            <th>Interest Rate</th>
                                            <th>Tenure</th>
                                            <th>Interest/Principal due/month</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (ViewBag.Invoice == null)
                                    {
                                    <h2>No Record Found</h2>
                                    }
                                    else
                                    {

                                    foreach (var Invoice in ViewBag.Invoice)
                                        {
                                    <tr>
                                        <td scope="row">@(++i)</td>
                                        <td>@Invoice.Company</td>
                                        <td>@Invoice.Location</td>
                                        <td>@Invoice.ReferenceNum</td>
                                        <td>@Invoice.Fullname</td>
                                        <td>@Invoice.DisburseDate</td>
                                        <td>@Invoice.Interestrate</td>
                                        <td>@Invoice.Tenure</td>
                                        <td>@Invoice.InterestPricipalDue</td>
                                        <td><input type="checkbox" id="invoice" name="chkRow" value="@Invoice.LID" /></td>
                                    </tr>
                                        }
                                    }
                                        <tr><td><button type="submit" name="submit" onclick="alert(getCheckedCheckboxesFor('chkRow'));" id="btnSubmit" class="btn btn-default btn-sm2 btnAction">Confirm</button></td>
                                         <td>
                                        @if (ViewBag.Invoice != null)
                                        {
                                        <div class="col-md-2">
                      <a href=@Url.Action("Exportoexcel", "Admin")>
    <button type="submit" class="btn btn-default" onchange="CallChangefunc()">Export To Excel</button></a>
                                        </div>
                                        }
                                        </td>
     <td><button type="submit" name="submit" onclick="alert(GenerateInvoice('chkRow'));" id="btnSubmit" class="btn btn-default btn-sm2 btnAction">Generate Invoice</button></td>
                                    </tr>

                                    @if(TempData["flag"] == "1")
{
                                    <tr class="parent" id="2800">
                                        <td>@*<span class="btn btn-default">text</span>*@</td>
                                        <td></td>
                                        <td>Balance : @ViewBag.Balance</td>
                                        <td>Balance Due : @ViewBag.BalanceDue</td>
                                        <td></td>



                                        <td></td>
                                    </tr>


}

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </section>

        </div>
        
    </div>
   
</div>

<script>

    function GenerateInvoice(checkboxName) {
        var comaseperatedIds = "";
        alert('tests');
        var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'), values = [];
        Array.prototype.forEach.call(checkboxes, function (el) {
            values.push(el.value);
        });
        if (values.length == 0) {
            alert("Please Select A Checkbox");
            return;
        }
        if (values.length != 0) {
            comaseperatedIds = values.toString();
            //alert('Value Passed' + values);
          //  alert('Passed');
        }
        // return values;
        if (values.length != 0) {
            comaseperatedIds = values.toString();
           // alert('comaseperatedIds' + comaseperatedIds);
            //alert('Passed2');
            alert('Value Passed2' + values);

            $.ajax({

                type: "POST",
                url: "/Admin/GenerateInvoice",
                data: { ItemList: comaseperatedIds },
                dataType: 'json',
                success: function (data)
                {
                    //alert(data.data);
                    alert(JSON.stringify(data.data));
                   // alert(data.InstiD);
                    if (data != null)
                    {
                        alert(data.data.InstiD);
                        window.location.href = "http://localhost:28957/Admin/Invoices?instid=" + JSON.stringify(data.data.InstiD) + "&TA=" + JSON.stringify(data.data.TotalAmounyt);
                    }
                    else
                    {
                        window.location.href = "url";
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(errorThrown);
                }
                //success: function (response)
                //{
                //    //alert('test');
                //    if (response == "success")
                //    {
                        
                //    }
                //    if (response == "false")
                //    {
                     
                //    }


                //}
                  });
        }
    }

    function getCheckedCheckboxesFor(checkboxName) {
        var comaseperatedIds = "";
        //alert('tests');
        var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'), values = [];
        Array.prototype.forEach.call(checkboxes, function (el) {
            values.push(el.value);
        });
        if (values.length == 0) {
            alert("Please Select A Checkbox");
            return;
        }
        if (values.length != 0) {
            comaseperatedIds = values.toString();
            //alert('Value Passed' + values);
           // alert('Passed');
        }
       // return values;
        if (values.length != 0) {
            comaseperatedIds = values.toString();
            //alert('comaseperatedIds' + comaseperatedIds);
            //alert('Passed2');
            //alert('Value Passed2' + values);
            
            $.ajax({

                type: "POST",
                url: "/Admin/ConfirmPay",
                data: { ItemList: comaseperatedIds },

                success: function (response) {
                   // alert('test');
                    if (response == "success") {
                        //  ReloadGrid();

                    }
                    if (JSON.stringify(resp.response) == "false") {
                        // alert(resp);
                    }


                }
            });
        }
        //return values;
    }

    var SaveList = function () {
       // alert("test");
        var table = document.getElementById("myTable");
        var foo = document.getElementById('invoice').value;
        var y;
        var arrItem = [];
        
        

        if (arrItem.length != 0) {
            comaseperatedIds = arrItem.toString();
            alert(comaseperatedIds);

            $.ajax({
               
                type: "POST",
                url: "/Admin/ConfirmPay",
                data: { ItemList: comaseperatedIds },
               
                success: function (response) {
                    //alert('test');
                    if (response == "success") {
                        //  ReloadGrid();

                    }
                    if (JSON.stringify(resp.response) == "false") {
                        // alert(resp);
                    }


                }
            });
        }

    }
   
</script>  

@*<script>
    $('#btnAdd').on('click', function (e) {
        e.preventDefault();
        var elem = $(this).next('.td1')
        elem.toggle('slow');
    });
    $(function () {
        $('tr.parent td span.btn')
          .on("click", function () {
              var idOfParent = $(this).parents('tr').attr('id');
              $('tr.child-' + idOfParent).toggle('slow');
          });
        $('tr[class^=child-]').hide().children('td');
    });
</script>*@

