
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_LayoutDashboardinnerpage.cshtml";
}

<script type="text/javascript">
$(document).ready(function() {
$('table td:nth-child(5)').each(function() {
    //alert('test');
  let $this = $(this);

  // make sure it's a number
  if (!isNaN($this.text())) {
     // alert('test');
    // convert to number and check value
    if (+$this.text() > 20)
	{

	    var pieces = parseFloat($this.text()).toFixed(2).split('')
        let ii = pieces.length - 3
        while ((ii -= 3) > 0) {
            pieces.splice(ii, 0, ',')
        }
        $this.text(pieces.join(''));

    }
	else
	{
      $this.css('color', 'red');
    }
  }

});
});



</script>
<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">
            <!--<h4 class="title">Create User</h4>-->
            <!-- Mega Form Starts -->
            @if (TempData["Error"] != "")
            {
                <div id="Msgs" class="alert alert-danger">
                    @TempData["Error"]
                </div>
            }

            @if (TempData["SucMsg"] != "")
            {
                <div id="Msgs" class="alert alert-success">
                    @TempData["SucMsg"]
                </div>
            }

            <section class="section-padding contact-us-padding form-padding">

                <div class="tables">
                    <h2 class="title1">Offer Letters</h2>
                    <div class="table-responsive bs-example widget-shadow">
                        @*<h4>Users:</h4>*@
                        @{int i = 0;}
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr>


                                  
                                  
                                  
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Organization</th>
                                    <th>PhoneNumber</th>
                                   <th>&#8358;Loan Amount</th>
                                   <th>EmailAddress</th>
                                   @*<th>Contact Address</th>*@
                                    <th>Date</th>
                                   <th>Remita Form</th>
                                   <th>Paelyt Offer Letter</th>
                                    @*<th>Guarantor Letter</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Data == null)
                                {
                                    <h2>No Record Found</h2>
                                }
                                else
                                {
                                    foreach (var Loan in ViewBag.Data)
                                    {
                                        <tr>
                                            <td scope="row">@(++i)</td>
                                            <td>@Loan.Surname @Loan.Firstname </td>
                                            <td>@Loan.Organization</td>
                                            <td>@Loan.PhoneNumber</td>
                                            <td>@Loan.LoanAmount</td>
                                            <td>@Loan.EmailAddress</td>
                                            @*<td>@Loan.ContactAddress</td>*@
                                            <td>@Loan.ApplicationDate</td>
                                           
                                            <td>
                                                <a onclick="return confirm('Are You Sure?')" target="_blank" href="@Loan.PatnerUrl">View Form</a>
                                            </td>
                                            <td>
                                                <a onclick="return confirm('Are You Sure?')"  target="_blank" href="@Url.Action("Offerletter", "Loans", new { Refid = @Loan.LoanRefNumber })">View Offer Letter</a>
                                            </td>
                                            @*<td>
                                                <a onclick="return confirm('Are You Sure?')" target="_blank" href="@Url.Action("Offerletter", "Loans", new { Refid = @Loan.PartnerKey })">View Offer Letter</a>
                                            </td>*@
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <!-- // Mega Form Ends-->

        </div>

    </div>
</div>
