@{
    ViewBag.Title = "Acknowledgement";
    // Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    Layout = "~/Views/Shared/_LayoutDashboardinnerpage.cshtml";
}
@model UvlotApplication.Classes.TableObjects.LoanApplication
@*<script src="https://code.jquery.com/jquery-1.10.1.js" crossorigin="anonymous"></script>*@
<script src="https://code.jquery.com/jquery-2.1.3.js"
        integrity="sha256-goy7ystDD5xbXSf+kwL4eV6zOPJCEBD1FBiCElIm+U8="
        crossorigin="anonymous"></script>

<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">
            <h4 class="title1">Status</h4>
            <!-- Mega Form Starts -->

            <section class="section-padding contact-us-padding form-padding">

                <div class="container" id="RefNumDIv">
                    @*@if (ViewBag.LoansLedger == null)
                        {*@
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-10">
                            @*@using (Html.BeginForm("UpdateLoanApproval", "Admin", FormMethod.Post, new { id = "signup" }))
                            {*@
                                <form action="#" method="post">

                                    @if (TempData["ErrMsg"] != null)
                                    {
                                        <div id="Msgs" class="">
                                            @TempData["ErrMsg"]
                                        </div>
                                    }
                                    @if (TempData["MNStat"] != null)
                                    {
                                    if (TempData["SucMsg"] != null)
                                    {
                                        <span> Start Date : @TempData["value1"]</span>
                                        <span>
                                            End Date : @TempData["value2"]
                                        </span>
                                        <span>
                                            Registration Date : @TempData["value3"]
                                        </span>
                                        <span>
                                            Active: @TempData["value4"]
                                        </span>
                                        <span>
                                            Status: @TempData["value5"]
                                        </span>
                                        @*using (Html.BeginForm("TransactLog", "Admin", FormMethod.Post, new { id = "signup" }))
                                        {
                                            <td><button type="submit" class="btn btn-default">Back</button></td>
                                        }*@
                                        }
                                    }
@if (TempData["DBStat"] != null)
{
                                    if (TempData["SucMsg"] != null)
                                    {

                                  <span>Amount : @TempData["Amount"]</span>
                                  <span> RRR : @TempData["RRR"]</span>
                                  <span>Description : @TempData["description"]</span>
         @*<span> Status : @TempData["status"]</span>*@
            @*using (Html.BeginForm("DebitInstructions", "Admin", FormMethod.Post, new { id = "signup" }))
            {
                
                   <td><button type="submit" class="btn btn-default">Back</button></td>
        }*@
}
}
                                </form>
                            @*}*@
                        </div>

                    </div>

                    @*}*@
                </div>

                
            </section>


        </div>
        <!-- // Mega Form Ends-->

    </div>
</div>
<script>
    function CheckAvailability() {
        var EmpCOde = $("#RefNum").val();
        //alert(EmpCOde);
        $.ajax({
            type: "POST",
            url: "/Admin/CheckEmpName",
            data: "{code:'" + EmpCOde + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "html",

            success: function (response) {
                var message = $("#message");
                //var INST = $("#INST");
                //var INSTS = $("INSTS");
                // alert(response);
               // alert(message);
                 if (response != "none")
                 {
                    //Reference available.
                    message.css("color", "green");
                    message.html(response);
                    alert("message" + response);
                   
                    //var v = response.toString().split("0").pop();
                    //INSTS.css("color", "green");
                    //INSTS.html(v);
                    ////alert("v"+v);
                    ////INST.value = v;
                }
                else
                {
                    //Reference Not available.
                    message.css("color", "red");
                    message.html("Reference Number is NOT available");

                }
            }
        });
    }
</script>




