@{
    ViewBag.Title = "Reports";
    // Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    Layout = "~/Views/Shared/_LayoutDashboardinnerpage.cshtml";
}

@model DataAccessLayerT.DataManager.LoanViewModel
@*<h2>Report</h2>*@

<div class="charts">
    <div class="mid-content-top charts-grids">
        <div class="middle-content">
            <h4 class="title">User Role</h4>
            <!-- Mega Form Starts -->
            <section class="section-padding contact-us-padding form-padding">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-10">
                            <div class="col-md-12 col-lg-10">
                                @using (Html.BeginForm("UserRole", "Admin"))
                                {

                                    @*<input type="text" id="txt" name="txt" readonly="readonly" />*@
                                    <form action="#" method="post">

                                        @if (TempData["ErrMsg"] != "" )
                                        {
                                            <div id="Msgs" class="alert alert-danger">
                                                @TempData["ErrMsg"]
                                            </div>
                                        }
                                        @if (TempData["SucMsg"] != "")
                                        {
                                            <div id="Msgs" class="alert alert-success">
                                                @TempData["SucMsg"]
                                            </div>
                                        }
                                       

                                        <div class="row list-input">
                                            <div class="col-md-12 col-lg-12 formHeaderBg">
                                                <h3 class="formHeader">Create UsernRole</h3>
                                            </div>
                                            <div class="col-md-0 mr0">
                                                <div class="single-get-touch">
                                                    @Html.TextBoxFor(model => model.PageModel.PageName, new { placeholder = "Page Name *", @class = "form-control1", id = "txt", name = "txt", type = "text", style="display:none" })
                                                </div>
                                            </div>
                                            <div class="col-md-6 mr0">
                                                <div class="single-get-touch">
                                                    @Html.DropDownList("id", new SelectList(ViewBag.listUser, "id", "EmailAddress"), new { @onchange = "selectedtext(this); this.form.submit();" })
                                                </div>
                                            </div>
                                            <div class="col-md-12 mr0">
                                                <div class="">
                                                    @foreach (var Assigned in Model.GetAssignRoless)
                                                    {


                                                    <input id="@Assigned.userid" type="checkbox" name="userid" value="@Assigned.userid" checked="checked" disabled="disabled" />
                                                    <label for="@Assigned.userid">
                                                        @Assigned.Rolename
                                                    </label>
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-12 mr0">
                                                <div class="">
                                                    @foreach (var unAssigned in Model.UnGetAssignRoless)
                                                    {
                                                    <input id="@unAssigned.Roleid" type="checkbox" name="roleid" value="@unAssigned.Roleid" />
                                                    <label for="@unAssigned.Roleid">
                                                        @unAssigned.Rolename
                                                    </label>

                                                    }
                                                </div>
                                            </div>
                                            <div class="col-md-6 mr0">
                                                <div class="single-get-touch">
                                                    <input type="submit" name="AssignBtn" value="AssignRoles" />
                                                    </div>
                                                </div>

</div>
</form>
                                }
                            </div>

                        </div>
                    </div>
                </div>
                
                <div class="tables">
                    <h2 class="title1">All Users n Role</h2>
                    <div class="table-responsive bs-example widget-shadow">
                        @*<h4>Roles:</h4>*@
                        @{int i = 0;}
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Role Name</th>
                                    <th>Email</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Data == null)
                                {
                                <h2>No Record Found</h2>
                                }
                                else
                                {
                                    foreach (var UserRole in ViewBag.Data)
                                    {


                                <tr>
                                    <td scope="row">@(++i)</td>
                                    <td>@UserRole.rolename</td>
                                    <td>@UserRole.email</td>

                                </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                
                      </div>
            </section>

            <!-- // Mega Form Ends-->

        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
                    function selectedtext(ddlitem) {
                        var selvalue = ddlitem.value;
                        var seltext = ddlitem.options[ddlitem.selectedIndex].innerHTML;
                        $('#txt').val(seltext)
                    }
</script>

